<!DOCTYPE html>
<html lang="it" dir="ltr">

<head>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- My Style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>

    <div id="root">
        <!-- Modal -->
        <div class="modal" :class="{'active_modal': modal}" @keydown.esc="toggleModal">
            <div class="inputs">
                <input maxlength="100" v-model="toDoEdit" placeholder="Enter todo" v-on:keyup.enter="checkInput(true)">
            </div>
        </div>
        <!-- /Modal -->

        <div class="content">
            <div class="title">
                <h1>{{titleSite}}</h1>
                <div class="list" v-show="toDoList.length > 0">
                    <ul>
                        <li v-for="(item,index) in toDoList"><small>{{item}}</small> <p><span class="edit" @click="toggleModal(index)"><i class="fas fa-edit"></i></span>
                                                                         <span class="delete" @click="deleteItem(index)"><i class="fas fa-trash-alt"></i></span></p></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="inputs">
            <input maxlength="100" id="todo" v-model="toDo" placeholder="Enter todo" v-on:keyup.enter="checkInput(false)">
        </div>
    </div>
        <!-- jQuery 3.6.0 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- VueJs -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <!-- My Script -->
        <script src="js/script.js" charset="utf-8"></script>

</body>

</html>